* {
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
}
nav {
    height: 53px;
    background: #212121;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
}
.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    height: 87px;
    background: rgba(0, 0, 0, 0.6);
/*     z-index: 2; */
/*     position: relative; */
    position: absolute;
    display:block;
    width: 100%;
    margin-top: 53px;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 6px;
}
.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 19px;
}
.subheader .subheader_phone {
    display: block;
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 24px;
}
.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo {
    min-height: 800px;
    background: url(/Uber/src/img/first/uber_bg.png) center/cover no-repeat;
    padding: 150px 0 135px 0;
/*     transform: translateY(-84px);
    z-index: 1; */
}
.promo .promo_header {
    
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;
    margin-top: 50px;
}
.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 22px;
}
.promo .promo_descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 23px;
}
.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
}

.reason {
    min-height: 849px;
}

.reason .benefit {
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 115px;
    height: 27px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 18px auto auto auto;
}

.reason .reason_header {
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    line-height: 38px;
    color: #222222;
    margin: 0;
    margin-top: 32px;
}

.reason .reason_descr .reason_subtitle {
    font-weight: 400;
    font-size: 17px;
    color: #1EACC7;
}
.reason .reason_descr .reason_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}
.reason .reason_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.reason .reason_block .reason_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}
.reason .reason_block .reason_descr {
    width: 371px;
}